# Ignorer node_modules
node_modules/

# Ignorer build (si utilisé)
build/
dist/

# Ignorer fichiers sensibles
.env

# Ignorer logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer fichiers système
.DS_Store
Thumbs.db

# Ignorer dossier Sass complet
src/sass/
